{{ partial "top.html" . }}
<h1>Getting started with Vagrant and Ansible</h1>
{{ partial "share.html" . }}
<article>
    <div></div>
    <h2>Welcome</h2>
    <p>
    This site have been made for the 5th year of EPSI Montpellier School, Cloud option.
    It aim to help students to discover `Vagrant` and `Ansible` tools as project warmup.  
    </p>
    <p>
    Start with Vagrant, as it's used in the Ansible section.
    </p>
   
</article>

{{ template "_internal/disqus.html" . }}

{{ partial "bottom.html" . }}
